@charset "utf-8";
html, body, div, span, applet, object, iframe, blockquote, pre, a, p, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	/* margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline; */  
    font-family: 'Source Sans Pro', sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
	line-height: 1 !important;
	min-width:320px;
	overflow-x:hidden;
}
a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif !important;
}
/*Common styles*/


/* Header */
body .top-area{
	background: rgba(0, 0, 0, 1) !important;
}
.top-area{
    padding:6px 0;
    border-bottom:1px solid #494c64;
    position:relative
}
.top-area-items{
    margin:0 -35px
}
@media (min-width: 1212px){
    .top-area-alignment-justified .top-area-menu{
        float:right
    }
}
.top-area-alignment-right .top-area-items{
    text-align:right
}
.top-area-alignment-center .top-area-items{
    text-align:center
}
@media (max-width: 1211px){
    .top-area-items{
        text-align:center
    }
}
.top-area-block{
    position:relative;
    display:inline-block;
    vertical-align:middle;
    padding:0 35px
}
.top-area .top-area-items .top-area-block{
    height:30px;
    line-height:30px
}
.top-area-contacts:after,.top-area-socials:after{
    content:'';
    position:absolute;
    height:50px;
    margin-top:-25px;
    top:50%;
    right:0
}
@media (max-width: 1211px){
    .top-area-contacts:after,.top-area-socials:after{
        display:none
    }
}
.top-area-style-2 .top-area-contacts:after, .top-area-style-2 .top-area-socials:after{
    right:auto;
    left:0
}
.top-area-alignment-center .top-area-contacts:after, .top-area-alignment-center .top-area-socials:after{
    display:none
}
.top-area-alignment-center .top-area-contacts:after, .top-area-alignment-center .top-area-socials:after{
    display:none
}
.top-area-socials{
    margin:0 -5px
}
.top-area-socials .socials{
    margin-top:1px;
}
.top-area-socials .socials-item{
    padding:0px 7px;
    margin:0
}
.top-area-socials .socials-item a{
    width:20px;
    height:20px
}
.top-area-socials .socials-item a:after{
    line-height:20px;
    font-size:16px
}
.top-area-button .gem-button{
    margin:0;
    font-family:inherit;
    font-weight:inherit;
    font-style:inherit;
    vertical-align:top
}
.top-area-button .gem-button:after{
    display:none
}
.top-area .top-area-block.top-area-menu{
    font-size:0
}
.top-area-menu .nav-menu{
    margin:0 -15px
}
.top-area-menu .nav-menu>li{
    display:inline-block;
    padding:0 15px;
    line-height:30px
}
.top-area-menu .nav-menu > li a{
    display:block;
    font-size:14px;
    text-decoration: none;
}
#top-area-menu,.top-area-button{
    display:inline-block;
    vertical-align:top
}
#top-area-menu+.top-area-button{
    margin-left:40px
}
.top-area-contacts:after,.top-area-socials:after{
    border-right:1px solid #51546c
}
.top-area{
    color:#FFFFFF;
    height: 42px;
}
.top-area a{
    color:#FFFFFF;
}
.top-area a:hover{
    color:#fff
}
.top-area .gem-button{
    color:#fff
}
.top-area .gem-button{
    background-color:#430064;
    border: none;
}
.top-area .gem-button:hover{
    color:#fff
}
.top-area .gem-button:hover{
    background-color:#46485c
}
.top-area-button .gem-button{
    margin:0; 
    font-family:inherit;
    font-weight:inherit;
    font-style:inherit;
    vertical-align:top;
    font-size: 14px;
    margin-top: -1px;
}
.top-area-button .gem-button:after{
    display:none
}
#top-area-menu,.top-area-button{
    display:inline-block;
    vertical-align:top
}
#top-area-menu+.top-area-button{
    margin-left:115px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
  background: initial !important;
}
.site-wrapper{
    position: relative;
}
.site-wrapper .fixed-top{
    position: fixed; 
    top: 40px;
    background: #FFFFFF;
    height: 88px;
}
.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }
 .headerBanner{
     position: relative;
     top: 0px;
     z-index: -1;
     margin-bottom: 80px;
 }
.megamenu .navbar-brand{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 23px;
    font-weight: bold;
}
.megamenu .navbar-brand{
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: scale(1);
    height: 87px;
}
.megamenu.BGWHITE .navbar-brand{
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: scale(.7);
    height: 55px;
    margin-top: -30px;
}
.megamenu #MainMenu .navbar-nav li > a {
	color: #430064;
	font-family: 'Montserrat', sans-serif !important;
	padding: 2px 15px;
	line-height: 25px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.megamenu #MainMenu .navbar-nav li.active > a {
	border: 2px solid #430064;
}
.megamenu #MainMenu .navbar-nav li > a:hover{
    color: #430064;
}
.megamenu.BGWHITE{
    -o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.9) !important;
    top: 0px;
    height: 60px;
    overflow: hidden;
}
.logo-absolute{
    position: absolute;
    top: -40px;
    width: 80px;
    left: 50%;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.logo-absolute a.navbar-brand{
    margin: 0px;
    padding: 0px;
    position: relative;
    left: -50%;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.logo-absolute img{
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(255,166,255,1);
    -moz-box-shadow: 0px 0px 15px 3px rgba(255,166,255,1);
    box-shadow: 0px 0px 15px 3px rgba(255,166,255,1);
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.BGWHITE .logo-absolute{
    top: 0px;
}
.BGWHITE .logo-absolute img{
    box-shadow: none;
}
.megamenu{
    -o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.megamenu.BGWHITE #MainMenu .navbar-nav li > a{
    color: #430064;
}
.megamenu.BGWHITE .cart-area ul li a{
    color: #430064;
}
.headerBanner img.static{
    width: 100%;
    display: block;
}
.cart-area{

}
.cart-area ul li{
    float: left;
    margin: 0px 10px;
}
.cart-area ul li a{
    float: left;
    color: #430064;
    font-size: 25px;
}
.cart-area ul li a i{ 
    
}
.scroll-icon{
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
}
.scroll-icon img{
    display: block;
    margin: 0px auto;
}
.scroll-icon span{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
    display: block;
}
.Main-Content{
    margin-top: 85px;
}
.block-content{

}
.component-vue{

}
.Two-Model{

}
.Two-Model .wrap-model-two{
    position: relative;
    transition: all 0.5s ease;
}
.Two-Model .wrap-model-two a{
    transition: all 0.5s ease;
}
.Two-Model .wrap-model-two img{
    width: 100%;
    display: block;
}
.Two-Model .wrap-model-two a::after{
    position: absolute;
    top: 0px;
    left: 0px;
    content: " ";
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease;
}
.Two-Model .wrap-model-two:hover > a::after{
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}
.Two-Model .wrap-model-two .wrap-abs{
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 10;
}
.Two-Model .wrap-model-two .wrap-abs span{
    display: block;
    position: relative;
    width: 100%;
    color: #4C5867;
    background: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.four-Model{

}
.wrap-model-four{
    position: relative;
    margin-top: 50px;
}
.wrap-model-four img{
    width: 100%;
}
.wrap-model-four .category-overlay{
	position: absolute;
	bottom: 32%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85);
	text-align: center;
	padding: 15px 20px 20px;
	left: 0;
	width: 100%;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.wrap-model-four .category-overlay h6{
    margin: 0 0 5px;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;  
    letter-spacing: 0.05em;
    color: #3c3950;
    line-height: 25px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.wrap-model-four .category-overlay .category-overlay-separator{
    margin: 0 auto;
    height: 1px;
    width: 50px;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color:#430064;
}
.wrap-model-four .category-overlay .category-count{
    text-align: center;
    color: #5f727f;
    font-size: 16px;
}
.wrap-model-four a:hover .category-overlay{
    background-color: #393d50;
}
.wrap-model-four a:hover .category-overlay-separator {
    width: 80px;
}
.wrap-model-four a:hover h6,.wrap-model-four a:hover .category-overlay .category-count {
    color: #FFFFFF;
}
.wpb_wrapper {
	padding: 0px 0px 50px 0px;
	margin-top: -25px;
}
.wpb_text_column{

}
.wpb_text_column h2.title-h2{
    letter-spacing: 0.05em;
    color: #3c3950;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;
    font-size: 24px;
}
.wpb_text_column p{
    text-align: center;
    font-size: 16px;
    color: #99a9b5;
}
.Product-section{

}
.product-inner.centered-box{
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: visible;
    border: 1px solid #dfe5e8;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    color: #5f727f;
    margin-bottom: 30px;
}
.product-inner.centered-box a{
    display: block;
    text-align: center;
    position: relative;
}
.product-inner.centered-box a .product-labels{
    position: absolute;
    width: 60px;
    right: -21px;
    top: 21px;
    z-index: 2;
}
.product-labels span.onsale{
    background: #f44336;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    margin: 0 auto;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.product-labels span.new-label{
    background-color: #393d50;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    background: #393d50;
    background-color: rgb(57, 61, 80);
    margin: 0 auto;
    margin-top: 0px;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.product-labels .onsale + .new-label {
	margin-top: -15px;
}
.product-inner.centered-box span.product-image-inner{
    display: block;
    position: relative;
    overflow: hidden;
}
.product-inner.centered-box span img{
    width: 100%;
}
.product-inner.centered-box .product-info{
    padding: 15px 20px 4px;
}
.product-rating{
    min-height: 16px;
}
.product-rating .empty-rating{
    padding-top: 8px;
    padding-bottom: 7px;
}
.product-rating .empty-rating::after{
    content: '';
    display: block;
    border: 0 none;
    border-top: 1px solid transparent;
    width: 50px;
    margin: 0 auto;
    border-color: #430064;
}
.product-title{
    color: #5f727f;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: 'Montserrat';
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.product-title a{
    letter-spacing: 0.05em;
    font-family: 'Montserrat' !important;
    color: #5f727f;
    text-decoration: none;
}
.product-price{
    font-size: 18px;
}
.product-bottom{
    width: 155px;
    margin: 0px auto;
}
.product-bottom ul{
    overflow: auto;
}
.product-bottom ul li{
    float: left;
    margin: 0px 5px;
}
.product-bottom ul li a{
    float: left;
    font-size: 20px;
    padding: 5px;
    color: #99a3b0;
}
.Two-Model .wrap-model-two .wrap-model-one {
	position: absolute;
	top: 0%;
	width: 100%;
	z-index: 10;
	padding: 30px;
}
.wrap-mod-one-head{

}
.wrap-mod-one-head h6{
    
}
.wrap-mod-one-head p{
    color: #5f727f;    
    line-height: 24px;
    margin-top: 20px;
}
.title-h6{
    text-transform: uppercase;
    color: #3C3950;
    font-weight: 700;
}
ul.rating-star{
    
}
ul.rating-star li{
    float: left;
}
ul.rating-star li i{
    color: #FFC107;
    font-size: 12px;
}
ul.rating-star li.inactive i{
    color: #B6C6C9;
    font-size: 12px;
}
.price-bag-m{

}
.price-bag-m span{
    color: #2c2e3d;
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 53px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.price-bag-m .adCart{
    background: #430064;
    color: #FFFFFF;
    display: block;
    width: 240px;
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 20px;
}
.price-bag-m .adCart i{
    
}
.full-width{
    padding: 0px 15px;
}
.featurs-nrri{
    margin: 50px 0px;
}
.featurs-nrri .col-sm-3{
    padding: 0px;
}
.wrap-featur-box{
    text-align: center;
    color: #FFFFFF;
    height: 310px;
    width: 100%;
    display: block;
    overflow: hidden;
}
.wrap-featur-box > img{
    display: block;
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.wrap-featur-box .centered-box{
    position: absolute;
    top: 12%;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 30px;
}
.centered-box .nrri-icons{

}
.centered-box .nrri-icons i{

    font-size: 50px;
}
.wrap-featur-box .title-h5{
    color: #ffffff;
}
.title-h5{
    letter-spacing: 0.05em;
    color: inherit;
    line-height: 30px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin: 0.5em 0;
}
.featur-details{

}
.featur-details p{ 
    
}
.big-feature{
    padding-bottom: 50px;
}
.wrap-b-feature-img{

}
.wrap-b-feature-img > img{
    
}
.big-feat-det-wrap{
    text-align: center;
    padding: 0px 80px;
}
.big-h1{
    font-size: 80px;
    line-height: 90px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.big-h2{
    color: #3c3950;
    line-height: 69px;
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0px;
}
.big-feat-det-wrap p{
    color: #5f727f;
}
.big-feat-det-wrap a.shop-btn{
    background: #430064;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Montserrat' !important;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 15px;
    margin-top: 50px;
    display: block;
    width: 180px;
    margin: 0px auto;
    margin-top: 50px;
}
.payment-shipping{

}
.payment-sec{
    background: url("../img/3-35.jpg") no-repeat center;
    background-size: cover;
    height: 490px;
    width: 100%;
}
.wrap-payment{
    text-align: center;
    padding: 160px 120px;
}
.wrap-payment h2{
    color: #FFFFFF;
    margin-bottom: 15px;
}
.title-h2{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.payment-shipping .col-md-6{
    padding: 0px;
}
.wrap-payment p{
    color: #FFFFFF;
}
.wrap-payment ul{
    padding: 0px;
    margin: 0px auto;
    width: 245px;
    padding-top: 10px;
}
.wrap-payment ul li{ 
    
    float: left;
    margin: 0px 5px;
}
.wrap-payment ul li a{ 
    
}
.shipping-sec{
    background: url("../img/2-36.jpg") no-repeat center;
    background-size: cover;
    height: 490px;
    width: 100%;
}
.shipping-sec .wrap-shipping{

    padding: 160px 150px;
}
.shipping-sec .wrap-shipping h2{
    
}
.shipping-sec .wrap-shipping ul{
    
}
.shipping-sec .wrap-shipping ul li{
    position: relative;
    text-indent: -1.2em;
    margin-bottom: 0.7em;
    list-style-type: disc;
    list-style-position: inside;
}
/* .shipping-sec .wrap-shipping ul li::before{
    content: "\f560";
    color: #7acdd8;
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    width: 21px;
    text-indent: 0;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
} */

.subscription-section{
    background: url("../img/slider/2.jpg") no-repeat top;
    background-size: 100%;
    height: 370px;
    width: 100%;
    background-attachment: fixed;
    position: relative;
}
.subscription-section .wrap-subscription{
    text-align: left;
    padding: 60px 0px;
    position: relative;
}
.subscription-section .col-sm-12{
    padding: 0px;
}
.subscription-section::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 370px;
    background: rgba(0,0,0,0.88);
    z-index: 0;
}
.title-h1{
    color: #ffffff;
    letter-spacing: 0.05em;
    line-height: 53px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin: 1.2em 0;
    font-size: 36px;
}
.wrap-subscription form{

}
.wrap-subscription form input{
    color: #fff;
    background: transparent;
    height: 45px;
    border: none; 
    padding-left: 0;
    border-bottom: 1px solid #575c6c;
    width: 300px;
}
.wrap-subscription form a.subscribe-btn{
    background: #430064;
	color: #fff;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
    position: relative;
    text-decoration: none;    
    font-size: 20px;
    padding: 10px 15px;
    margin-left: 20px;
}
.footer{

}
.footer .footer-bootm{
    background-color: #181828;
    padding: 40px 0;
    border-top: 1px solid #313646;
}
.footer .wrap-foot-three{
    
}
.footer .wrap-foot-three .footer-site-info{
    color: #FFFFFF;
}
.footer-site-info a{
    color: #FFFFFF;
}
ul.foot-links{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
ul.foot-links li{
    float: left;
    margin: 0px 34px;
}
ul.foot-links li a{
    float: left;
    color: #99a9b5;
    text-decoration: none;
}
.wrap-foot-three .socials{
    width: 135px;
    float: right;
}
.wrap-foot-three .socials a{
    color: #FFF;
    margin: 0px 8px;
    font-size: 20px;
}



/*Single Product page */
.InnerHeaderBanner{
    position: relative;
    margin-bottom: 100px;
}
.wrap-inn-banner{

}
.wrap-inn-banner > img{
    
}
.inner-banner-content-wrap{
    position: absolute;
    top: 23%;
    left: 0px;
    width: 100%;
    text-align: center;
}
.inner-banner-content-wrap .Nrri-icons{
    font-size: 60px;
    color: #FFFFFF;
}
.title-h1-big{
    color: #ffffff;
	letter-spacing: 0.05em;
	line-height: 69px;
	font-weight: 700;
	font-family: 'Montserrat' !important;
	text-transform: uppercase;
	margin: 20px 0;
	font-size: 50px;
}
.inner-banner-content-wrap h1.title-h1-big{
    
}
.inner-banner-content-wrap h1{
    
}
.light{
    font-family: 'Montserrat';
    font-weight: 300;
}
.inner-banner-content-wrap h1 span.light{
    
}
.inner-banner-content-wrap p{
    font-size: 20px;
    color: #FFFFFF;
}
.wrap-sidebar{

}
.wrap-sidebar h4{
    margin-bottom: 30px;
    font-size: 19px;
}
.wrap-category-menu{
    width: 100%;
    overflow: auto;
}
.wrap-category-menu ul.navbar-nav{
    width: 100%;
    display: block;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
}
.wrap-category-menu ul.navbar-nav li{
    color: #99a9b5;
    padding: 0px 0px 0px 0;
    border: 1px solid #dfe5e8;
    border-bottom: none;
}
.wrap-category-menu ul.navbar-nav li a{
    color: #3c3950;
    line-height: 25px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat' !important;
    text-transform: uppercase;
    padding-left: 18px;
    border-bottom: 1px solid #e9ecef;
}
.wrap-category-menu ul.navbar-nav li div.dropdown-menu{
    margin: 0px 0px 0px 0;
    position: relative !important;
    transform: unset !important;
    border: 0px;
    padding: 0px;
    background: #F4F6F7;
}
.wrap-category-menu ul.navbar-nav li div.dropdown-menu a{
    font-family: 'Source Sans Pro' !important;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    padding: 12px 12px 12px 20px;
    color: #5f727f;
    border: none;
}
.wrap-category-menu .dropdown-divider {
	height: 0;
	margin: 1px 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}
.wrap-category-menu .dropdown-toggle::after{
    right: 18px;
    position: absolute;
    top: 18px;
}
.wrap-sidebar h4::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f036";
    font-size: 16px;
    float: right;
    color:#430064;
}
.product-details-sec{

}
.product-details-sec .product-img-sec{
    
}
.product-img-sec .product-gallery{
    
}
.product-gallery .prodt-single-img{
    
}
.product-gallery .prodt-single-img > img{
    width: 100%;
}
.prod-img-list{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    margin-top: 10px;
}
ul.prod-img-list li{ 
    width: 80px;
    height: 80px;
    float: left;
    margin: 4px;
}
ul.prod-img-list li a{ 
    width: 80px;
    height: 80px;
    float: left;
}
ul.prod-img-list li a img{ 
    width: 100%;
    display: block;
}
.product-desc-sec .details-divider {
	height: 4px;
	margin-bottom: 30px;
	border-top: 1px solid #dfe5e8;
	border-bottom: 1px solid #dfe5e8;
}
.product-desc-sec{

}
p.price{
    line-height: 36px;
    font-size: 36px;
    letter-spacing: 0.05em;
    font-weight: 200;
    font-family: 'Montserrat';
}
p.price del{
    font-weight: 200;
    font-family: 'Montserrat';
    line-height: 24px;
    font-size: 24px;
    color: #99a9b5;
}
p.price del span.amount{
    font-weight: 200;
    font-family: 'Montserrat';
    font-size: 20px;
}
p.price ins{
    font-weight: 200;
    font-family: 'Montserrat';
    color: #3c3950;
}
.short-description{

}
.short-description p{
    margin: 0 0 1.1em;
    color: #5f727f;
    line-height: 25px;
    font-size: 16px;
}
a.addToCart{
    background: #430064;
    color: #FFFFFF !important;
    display: block;
    width: 180px;
    text-align: center;
    font-size: 17px;
    padding: 10px 0px;
    font-family: 'Montserrat' !important;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 3px;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #430064;
    cursor: pointer;
}
a.addToLove{
    background-color: #FFFFFF;
    border: 2px solid #430064;
    color: #430064 !important;
    display: block;
    width: 210px;
    text-align: center;
    font-size: 17px;
    padding: 10px 0px;
    font-family: 'Montserrat' !important;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 3px;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
form.cart{
    overflow: auto;
    clear: both;
}
.cart .AA{
    float: left;
    margin-right: 10px;
}
form.cart .quantity{

}
form.cart .quantity input{
    line-height: 38px;
    height: 40px;
    width: 40px;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #f4f6f7;
    border: 0 none;
    margin: 0;
    vertical-align: top;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    text-align: center;
    font-size: 18px;
    color: #797979;
    margin-top: 20px;
}
.size-guide a{
    color: #430064;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    width: 100%;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.size-guide a:hover{
    color: #313646;
    text-decoration: none;
}
.size-guide a::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f5ae";
    font-size: 16px;
    margin-right: 10px;
}
.product-meta{
    margin-top: 80px;
}
.product-meta .sku_wrapper{
    margin-bottom: 10px;
}
.product-meta span{

}
.product-meta span.date-color{
    color: #99a9b5;
    margin-right: 12px;
}
.product-meta span a{

}
.product-meta .posted_in a{
    color: #430064;
    text-decoration: none;
    font-weight: normal;
    font-size: 17px;
}
.product-meta .tagged_as a {
	position: relative;
	display: inline-block;
	color: inherit;
	margin-right: 17px;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 22px;
	background-color: #e7edf0;
	z-index: 2;
	padding: 0 16px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	text-decoration: none;
}
.product-meta .tagged_as a::before {
	content: '';
	position: absolute;
	background-color: inherit;
	width: 12px;
	height: 12px;
	top: 5px;
	left: -5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: -1;
    transform: skew(-45deg, 45deg);
    font-size: 13px;
    line-height: 21px;
}
.product-meta .tagged_as a::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	top: 50%;
	margin-top: -3px;
	left: -5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
}
.product-meta .tagged_as a:hover{
    background: #430064;
    color: #FFFFFF;
}
.product-meta .tagged_as a::after{

}
.product-meta .tagged_as a::before{
    
}

.product-meta .posted_in{
    margin-bottom: 10px;
}
.product-meta .tagged_as{

}
.shop_attributes {
    width: 100%;
}
.shop_attributes tr th,.shop_attributes tr td{
    background-color: #f0f3f2;
    padding: 20px 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat' !important;
    border: 1px solid #dfe5e8;
}
.tab-content p{
    margin: 0 0 1.1em;
    color: #5f727f;
    line-height: 25px;
    font-size: 16px;
}
.single-product-content-bottom{
    margin-top: 100px;
    margin-bottom: 50px;
}
.single-product-content-bottom li.nav-item > a{
    color: #5f727f;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Montserrat' !important;
}
.single-product-content-bottom li.nav-item > a.active{
    font-weight: 700;
}


/* Cart Page */

.InnerHeadCart{
    background-color: rgb(233, 240, 239);
    padding: 30px 0px;
}
.InnerHeadCart h1{
    color: #430064;
}
.InnerHeadCart .nrri-icons{
    color: #430064;
    font-size: 120px;
}
.wrap-cart-page{

}
.cart-short-info{
    font-weight: 300;
    line-height: 37px;
    font-size: 24px;
    margin-top: 50px;
}
.cart-short-info span.items-count{
    color: #430064;
}
.wrap-cart-display{

    margin-top: 30px;
    margin-bottom: 50px;
}
.wrap-cart-display table{
    border: medium none !important;
    overflow: visible;
    width: 100%;
}
.wrap-cart-display table thead th {
	padding: 17px;
	text-transform: uppercase;
}
.wrap-cart-display table thead{   
    border: 1px solid #b6c6c9;
}
.wrap-cart-display table thead tr{
    
}
.wrap-cart-display table thead tr th{    
    background: #b6c6c9;
    border-color: #b6c6c9;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    text-align: left;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
.wrap-cart-display table tbody{
    
    border: 1px solid #dfe5e8;
}
.wrap-cart-display table tbody tr{
    
}
.wrap-cart-display table tbody tr td{
    
}
.wrap-cart-display table tbody tr td.product-remove a{
    color: red;
    font-weight: 600;
    font-size: 24px;
}
.wrap-cart-display table tbody tr td.product-thumbnail a{
    
}
.wrap-cart-display table tbody tr td.product-thumbnail a img{
    width: 60px;
    height: 60px;
}
.wrap-cart-display table tbody tr td.product-name a{
    line-height: 25px;
    font-weight: normal;
    font-size: 15px;
    text-transform: none;
    font-family: 'Source Sans Pro' !important;
    color: #430064;
}
.wrap-cart-display table tbody tr td.product-price span{
    letter-spacing: 0.05em;
    line-height: 30px;
    font-size: 19.9992px;
    font-weight: 300;
    font-family: 'Source Sans Pro';
    color: #3c3950;
}
.wrap-cart-display table tbody tr td.product-quantity .quantity{
    
}
.wrap-cart-display table tbody tr td.product-quantity .quantity button{
    
    display: inline-block;
    font-size: 32px;
    height: 52px;
    line-height: 50px;
    margin: 0;
    vertical-align: top;
    width: 50px;
    font-weight: 200;
    border: 0 none;
    padding: 0;
    height: 34px;
    line-height: 32px;
    width: 32px;
    font-size: 24px;
}
.wrap-cart-display table tbody tr td.product-quantity .quantity input{
    color: #5f727f;
    height: 34px;
    line-height: 34px;
    font-size: inherit !important;
    background-color: #f4f6f7;
}
.shop_table .product-name {
    width: 58%;
}
.shop_table .product-price {
    width: 14%;
}
.shop_table th.product-quantity {
    padding-left: 20px;
    width: 17%;
}
.shop_table .product-subtotal {
    width: 11%;
}
.wrap-cart-page form{
    width: 100%;
}
.shop_table .product-subtotal .amount{

    font-size: 24px;
    font-weight: 300;
}
.shop_table td.product-remove {
    padding-left: 32px;
    padding-right: 0;
}
.shop_table td {
    vertical-align: middle;
}
.shop_table td {
    padding: 27px 25px;
}
.shop_table .product-thumbnail {
    width: 1%;
    padding-left: 32px;
    padding-right: 0;
}
.shop_table .quantity .qty {
	border: 0 none;
	height: 52px;
	line-height: 52px;
	margin: 0;
	vertical-align: top;
	width: 52px;
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	text-align: center;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.shop_table tbody tr:nth-child(2n) td {
	background: #f0f3f2;
}
.coupon a,.update-cart a,.checkout-button-button a{
    cursor: pointer;
    -o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    font-size: 18px;
    width: 195px;
    padding: 10px 0px;
    margin: 15px 10px;
}
.update-cart a:hover{
    -o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.submit-buttons a.addToLove{
    background: #313646;
    color: #FFFFFF !important;
    border-color: #313646;
}
.coupon input{
    font-size: 16px;
    color: #99a9b5;
    font-weight: 400;
    background: #f5f7f6;
    border: none;
    height: 44px;
    line-height: 44px;
    width: 200px;
    padding: 0 15px;
    vertical-align: top;
    margin: 15px 20px 15px 18px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.actions .coupon{
    float: left;
    display: flex;
}
.actions .submit-buttons{
    float: right;
    display: flex;
}
.cart-collaterals{
    
}
.cart-collaterals .shipping_calculator{
    
}
.shipping_calculator{
    
}
.shipping-calculator-form{

}
.shipping-calculator-form .input-group{
    margin-bottom: 38px;
}
.shipping-calculator-form .input-group select{

}
.shipping-calculator-form .form-group{

}
.shipping-calculator-form .form-group input{
    width: 100%;
    height: 40px;
    padding: 0 19px;
    vertical-align: top;
    margin: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 38px;
}
.shipping-calculator-form .form-group a.nri-button-update-total{

}
.cart_totals{
    
}
.cart_totals h2{
    
}
.cart_totals table{    
    width: 100%;
}
.cart_totals table tr{
    
}
.cart_totals table tr.cart-subtotal{
    
}
.cart_totals table tr th{
    background-color: #f0f3f2;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    color: #5f727f;
    padding: 5px 0 6px 22px;
    width: 50%;
    text-align: left;
    line-height: 37px;
    border: 1px solid #dfe5e8;
}
.cart_totals table tr.cart-subtotal th{
    
}
.cart_totals table tr td{
    font-size: 24px;
    line-height: 24px;
    color: #3c3950;
    padding: 5px 26px 6px 26px;
    width: 50%;
    border: 1px solid #dfe5e8;
    font-family: 'Montserrat';
    font-weight: 300;
}
ul#shipping_method{
    margin: 0px;
    padding: 0px;
}
.cart_totals table tr.cart-subtotal td span{
    
}
.cart_totals table tr.cart-subtotal td span{
    
}
.cart_totals table tr.shipping td ul#shipping_method{
    
}
ul#shipping_method .form-check{
    
}
ul#shipping_method .form-check input{
    
}
ul#shipping_method .form-check label{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    color: #5f7272;
}
ul#shipping_method .form-check label span{

}
.cart-collaterals h2{
    margin-bottom: 30px;
}
.wrap-account{

}
.wrap-account .form-group input.form-control{    
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    text-align: left;
    font-size: 18px;
    color: #797979;
    margin-top: 20px;
    border-radius: 4px !important;
    margin-top: 10px;
    margin-bottom: 20px;
}
.wrap-account .form-group label{
    margin: 0px;
}
.wrap-account .card{
    border: none;
}
.wrap-account .card-header:first-child{
    border: none;
    background: none;
}
.wrap-account .card-header h3{
    letter-spacing: 0.05em;
    line-height: 53px;
    font-size: 36px;
    font-weight: 300;
}
.form-control:hover, .form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
a.forgot-pass{
    text-decoration: none;
    color: #430064;
}
.checkout-steps {
    margin-bottom: 80px;
    margin-top: 50px;
}

.checkout-steps.woocommerce-steps-one-page {
    margin-bottom: 65px
}

.checkout-steps .checkout-step {
    float: left;
    width: 25%;
    padding: 24px 0 21px 32px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden
}

.checkout-steps.user-logged .checkout-step {
    width: 33.3%
}

.checkout-steps .checkout-step.active,
.checkout-steps .checkout-step.disabled {
    cursor: default
}

.checkout-steps .checkout-step:before,
.checkout-steps .checkout-step:after {
    content: '';
    position: absolute;
    right: -23px;
    top: -23px;
    width: 46px;
    height: 46px;
    font-size: 0;
    transform: rotate(45deg);
    border: 3px solid #fff
}

.checkout-steps .checkout-step:after {
    top: auto;
    bottom: -23px;
    transform: rotate(45deg);
}

.checkout-steps .checkout-step:last-child:before,
.checkout-steps .checkout-step:last-child:after {
    display: none
}

.checkout-steps .checkout-step:first-child {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px
}

.checkout-steps .checkout-step:last-child {
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    cursor: default
}
.checkout-steps .checkout-step,
.checkout-steps .checkout-step:before,
.checkout-steps .checkout-step:after {
    background: #e9f0ef;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: #99a9b5
}
.checkout-steps .checkout-step.active,
.checkout-steps .checkout-step.before-active:before,
.checkout-steps .checkout-step.before-active:after {
    background: rgba(255,220,255,1);
    color: #3c3950;
}
.Checkout-collaterals{
    width: 500px;
    margin: 0px auto;
}
.Checkout-collaterals .form-group{
    margin-bottom: 20px;
}
.Checkout-collaterals label.Custom-Label{

}
.Checkout-collaterals .checkout-form h2{
    margin-bottom: 50px;
}
.Checkout-collaterals .checkout-form h2 i{
    padding-right: 5px;
}
.Checkout-collaterals .checkout-form label{
    margin: 0 0 10px 0;
    display: block;
    color: #5f727f;
    font-weight: normal;
    font-family: 'Source Sans Pro';
}
.Checkout-collaterals .checkout-form label abbr{
    color: red;
}
.product-details-sec{
    margin-top: 80px;
}
.footlogo{
    width: 160px;
    height: auto;
    margin-top: 35px;
}
.footlogo img{
    width: 100%;
}
.BOGBOG-nrri{

}
.BOGBOG-nrri .wrap-bogbog{
    border: 1px solid #B7B7B7;
    padding: 40px;
}
.BOGBOG-nrri .wrap-bogbog p{
    line-height: 24px;
}
.BOGBOG-nrri .wrap-bogbog h2{
    padding-bottom: 15px;
}
.BOGBOG-nrri .wrap-bogbog a{
    color: #430064;
    font-weight: bold;
}